.page-1000 {
    background-image: url('../img/index-bg.jpg');
}

    .page-1000 .button-enter-game {
        top: 63%;
        left: 5%;
        width: 48%;
    }

    .page-1000 .button-rank-list {
        top: 80%;
        left: 20%;
        width: 48%;
    }

.page-1001 {
    background-image: url('../img/game-list-bg.jpg');
}

    .page-1001 .button-mission-1 {
        left: 5%;
        top: 28%;
        width: 50%;
    }

    .page-1001 .button-mission-2 {
        left: 5%;
        top: 46%;
        width: 50%;
    }

    .page-1001 .button-mission-3 {
        left: 5%;
        top: 63%;
        width: 50%;
    }

    .page-1001 .button-mission-4 {
        left: 5%;
        top: 81%;
        width: 50%;
    }

    .page-1001 .lock-1 {
        width: 8%;
        left: 40%;
        top: 29%;
    }

    .page-1001 .lock-2 {
        width: 8%;
        left: 40%;
        top: 47%;
    }

    .page-1001 .lock-3 {
        width: 8%;
        left: 40%;
        top: 64%;
    }

    .page-1001 .lock-4 {
        width: 8%;
        left: 40%;
        top: 82%;
    }

/*游戏一*/
.page-1 {
    background-image: url('../img/background.jpg');
}

    .page-1 .logo {
        left: 1%;
        top: 1%;
        width: 25%;
    }

    .page-1 .mission {
        left: 5%;
        top: 15%;
        width: 42%;
    }


    .page-1 .number-1 {
        left: 45%;
        top: 10%;
        width: 20%;
    }

    .page-1 .title-1-1 {
        left: 14%;
        top: 21%;
        width: 46%;
    }

    .page-1 .box {
        left: 59%;
        top: 9%;
        width: 35%;
    }

    .page-1 .rule {
        left: 12%;
        top: 28%;
        width: 75%;
    }

    .page-1 .start {
        left: 16%;
        top: 66%;
        width: 68%;
    }

    .page-1 .scoreboard {
        left: 7%;
        bottom: 4%;
        width: 86%;
    }

    .page-1 .hand {
        left: 74%;
        top: 74%;
        width: 12%;
    }

.page-2 {
    background-image: url('../img/background.jpg');
}

    .page-2 .logo {
        left: 1%;
        top: 1%;
        width: 25%;
    }

    .page-2 .title-1-2 {
        left: 24%;
        top: 8%;
        width: 65%;
    }

    .page-2 .ice-black-tea {
        left: 27%;
        top: 18%;
        width: 45%;
    }

    .page-2 .button-left {
        left: 12%;
        top: 64%;
        width: 34%;
    }

    .page-2 .button-right {
        left: 54%;
        top: 64%;
        width: 34%;
    }

    .page-2 .button-ok {
        left: 24%;
        top: 86%;
        width: 52%;
    }

    .page-2 .using-time {
        width: 100%;
        top: 50%;
        text-align: center;
        position: absolute;
        font-weight: bold;
        font-size: 60px;
        color: #fff;
        -webkit-text-stroke: #000 3px;
        text-shadow: 5px 5px 5px #000;
    }

.page-101, .page-103 {
    background-image: url('../img/background.jpg');
}

    .page-101 .button-return, .page-103 .button-return {
        left: 12%;
        top: 72%;
        width: 34%;
    }

    .page-101 .button-next, .page-103 .button-next {
        left: 54%;
        top: 72%;
        width: 34%;
    }

    .page-101 .logo, .page-103 .logo {
        left: 1%;
        top: 1%;
        width: 25%;
    }

        .page-101 .logo.right, .page-103 .logo.right {
            left: auto;
            right: 1%;
            top: 1%;
            width: 25%;
        }

    .page-101 .result, .page-103 .result {
        left: 10%;
        top: 14%;
        width: 80%;
    }

    .page-101 .using-time, .page-103 .using-time {
        position: absolute;
        top: 1%;
        font-weight: bold;
        font-size: 50px;
        color: #fff;
        -webkit-text-stroke: #000 3px;
        text-shadow: 5px 5px 5px #000;
    }

        .page-101 .using-time.s, .page-103 .using-time.s {
            left: 5%;
        }

        .page-101 .using-time.a, .page-103 .using-time.a {
            left: 5%;
        }

        .page-101 .using-time.b, .page-103 .using-time.b {
            left: 20%;
        }

        .page-101 .using-time.c, .page-103 .using-time.c {
            left: 35%;
        }

        .page-101 .using-time.d, .page-103 .using-time.d {
            left: 50%;
        }

        .page-101 .using-time.e, .page-103 .using-time.e {
            left: 50%;
        }

.game-2 {
    background-image: url('../img/background.jpg');
}

.page-3 .logo {
    left: 1%;
    top: 1%;
    width: 25%;
}

.page-3 .mission {
    left: 5%;
    top: 15%;
    width: 42%;
}


.page-3 .number-1 {
    left: 45%;
    top: 10%;
    width: 20%;
}

.page-3 .title-1-1 {
    left: 14%;
    top: 21%;
    width: 46%;
}

.page-3 .box {
    left: 59%;
    top: 9%;
    width: 35%;
}

.page-3 .rule {
    left: 12%;
    top: 28%;
    width: 75%;
}

.page-3 .start {
    left: 20%;
    top: 60%;
    width: 60%;
}

.page-3 .scoreboard {
    left: 7%;
    bottom: 4%;
    width: 86%;
}

.page-3 .hand {
    left: 60%;
    top: 72%;
    width: 12%;
}

.page-4 {
    background: url('../img/background-g2.png');
    background-size: cover;
}

    .page-4 .tishi-g2 {
        left: 0;
        top: 0;
        width: 50%;
    }

    .page-4 .shizhong-g2 {
        left: 46%;
        top: 8%;
        width: 25%;
    }

    .page-4 .using-time {
        width: 50%;
        top: 15%;
        left: 70%;
        text-align: left;
        position: absolute;
        font-weight: bold;
        font-size: 25px;
        color: #fff;
        -webkit-text-stroke: #000 1px;
        text-shadow: 2px 2px 2px #000;
    }

    .page-4 .juxing-g2 {
        /*	background:url('../img/juxing-g2.png');
        background-size:cover;*/
        border: 5px solid white;
        left: 5%;
        top: 22%;
        width: 88%;
        height: 70%;
    }

        .page-4 .juxing-g2 .items {
            position: relative;
            float: left;
            width: 22%;
            height: 24%;
            margin-left: 2%;
        }

            .page-4 .juxing-g2 .items.red2000 {
                background: url('../img/red2000.png');
                background-size: contain;
                background-repeat: no-repeat;
            }

            .page-4 .juxing-g2 .items.greenz {
                background: url('../img/greenz.png');
                background-size: contain;
                background-repeat: no-repeat;
            }

            .page-4 .juxing-g2 .items.green250 {
                background: url('../img/green250.png');
                background-size: contain;
                background-repeat: no-repeat;
            }

            .page-4 .juxing-g2 .items.redz {
                background: url('../img/redz.png');
                background-size: contain;
                background-repeat: no-repeat;
            }

            .page-4 .juxing-g2 .items.redg {
                background: url('../img/redg.png');
                background-size: contain;
                background-repeat: no-repeat;
            }

            .page-4 .juxing-g2 .items.redp {
                background: url('../img/redp.png');
                background-size: contain;
                background-repeat: no-repeat;
            }

        .page-4 .juxing-g2 .unselected {
            border: 1px solid transparent;
        }

        .page-4 .juxing-g2 .selected {
            border: 1px solid green;
        }

    .page-4 .button-ok {
        left: 24%;
        top: 85%;
        width: 52%;
    }

.game-2.page-102 .button-return {
    left: 12%;
    top: 72%;
    width: 34%;
}

.game-2.page-102 .button-next {
    left: 54%;
    top: 72%;
    width: 34%;
}

.game-2.page-102 .logo {
    left: 1%;
    top: 1%;
    width: 25%;
}

    .game-2.page-102 .logo.right {
        left: auto;
        right: 1%;
        top: 1%;
        width: 25%;
    }

.game-2.page-102 .result {
    left: 10%;
    top: 14%;
    width: 80%;
}

.game-2.page-102 .using-time {
    position: absolute;
    top: 1%;
    font-weight: bold;
    font-size: 60px;
    color: #fff;
    -webkit-text-stroke: #000 3px;
    text-shadow: 5px 5px 5px #000;
}

    .game-2.page-102 .using-time.s {
        left: 5%;
    }

    .game-2.page-102 .using-time.a {
        left: 5%;
    }

    .game-2.page-102 .using-time.b {
        left: 20%;
    }

    .game-2.page-102 .using-time.c {
        left: 35%;
    }

    .game-2.page-102 .using-time.d {
        left: 45%;
    }

    .game-2.page-102 .using-time.e {
        left: 45%;
    }

.page.page-1002 {
    background-image: url('../img/rank.jpg');
}

    .page.page-1002 .rank {
        width: 90%;
        height: 45%;
        left: 5%;
        top: 28%;
    }

        .page.page-1002 .rank .rank-table {
            border: 1px solid darkred;
            width: 100%;
            height: 100%;
        }

            .page.page-1002 .rank .rank-table .rank-th-tr {
                background-color: #c0504e;
                color: white;
                height: 9%;
            }

            .page.page-1002 .rank .rank-table .rank-td-tr {
            }

.odd-tr {
    background-color: white;
    color: black;
}

.even-tr {
    background-color: #e5b9b8;
    color: black;
}

.page.page-1002 .rank .rank-table td {
    border: dotted 1px #bf524f;
    height: 9%;
}

.game1-level-span {
    position: absolute;
    top: 33%;
    left: 59%;
    width: 18%;
    font-size: large;
    text-align: center;
    color: white;
}

.game1-time-span {
    position: absolute;
    top: 33%;
    left: 77%;
    font-size: large;
    text-align: center;
    color: white;
}

.score-expl {
    top: 25%;
    position: absolute;
    left: 5%;
    color: white;
}


/*游戏三*/
.page-5 {
    background-image: url('../img/game-3/game-3-rule-bg.jpg');
}

    .page-5 .start {
        left: 16%;
        top: 64%;
        width: 68%;
    }

.page-6 {
    background-image: url('../img/game-3/game-3-bg.jpg');
}

    .page-6 .blocks {
        top: 25%;
        width: 350px;
        height: 350px;
        border: 2px #fff solid;
    }

    .page-6 img.block {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: initial;
        padding: 2px;
        margin: 0;
    }

    .page-6 .row {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: initial;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .page-6 .using-time {
        right: 3%;
        top: 3%;
        text-align: center;
        position: absolute;
        font-weight: bold;
        font-size: 50px;
        color: #fff;
        -webkit-text-stroke: #000 3px;
        text-shadow: 5px 5px 5px #000;
    }
